.slide {
    width: 49.25vw;
    height: 9.5vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    left: 0.5vw;
    top: 0.5vh;
}

.info {
    width: 49.25vw;
    height: 50.5vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    left: 0.5vw;
    top: 10.5vh;
}

.list {
    width: 49.25vw;
    height: 60.5vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    right: 0.5vw;
    top: 0.5vh;
}

.graph {
    width: 99vw;
    height: 38vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    left: 0.5vw;
    right: 0.5vw;
    bottom: 0.5vh;
}

canvas {
    display: block;
    object-fit: contain;
    margin: 0px;
}

h4 {
    font-size: 3vmin;
    font-weight: 500;
    color: rgba(0,0,0,1);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0.5vh;
}
