.map {
    width: 40vw;
    height: 70vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    right: 1vw;
    top: 1vh;
}

.graph {
    width: 98vw;
    height: 25vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    left: 1vw;
    bottom: 1vh;
}

.button {
    width: 8vw;
    height: 6vh;
    background: rgba(189,34,34,1);
    border-radius: 10px;
    position: absolute;
    right: 2vw;
    top: 63vh;
}

.button:hover {
    opacity: 50%;
}

.info {
    width: 55vw;
    height: 61vh;
    background: rgba(217,217,217,1);
    border-radius: 10px;
    position: absolute;
    left: 1vw;
    top: 10vh;
}

.onoff {
    width: 8vmin;
    height: 8vmin;
    background: url("../images/onoff.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 1vw;
    top: 1vh;
}

.onoff:hover {
    opacity: 50%;
}

.wifi {
    width: 8vmin;
    height: 8vmin;
    background: url("../images/wifi.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    left: 51vw;
    top: 1vh;
}

.wifi:hover {
    opacity: 50%;
}

.status {
    width: 8vmin;
    height: 8vmin;
    border-radius: 10px;
    opacity: 50%;
}
